<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SilverCare Dashboard">
    <meta name="author" content="SilverVue">

    <title>SilverCare Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Templates for VUE.js  -->
    <div id="template" v-cloak>

        <!-- Login Form  -->
        <div id="login" class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form @submit.prevent="submit">
                        <fieldset>
                            <div class="form-group">
                                <input v-model="username" type="text" placeholder="Username" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input v-model="password" type="password" placeholder="Password" class="form-control" autocomplete="off">
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#login  -->

        <!-- Setup User Account  -->
        <div id="setup-user">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Account Setup</span>
                </div>
                <div class="panel-body">
                    <form @submit.prevent="submit" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Username</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ username }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">New Password</label>
                            <div class="col-sm-10">
                                <input v-model="new_password" type="password" class="form-control" placeholder="New Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Confirm Password</label>
                            <div class="col-sm-10">
                                <input v-model="confirm_password" type="password" class="form-control" placeholder="New Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Authorization Token</label>
                            <div class="col-sm-10">
                                <input v-model="auth_token" type="text" class="form-control" required disabled>
                            </div>
                        </div>

                        <input :disabled="disabled()" class="btn btn-default" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <!-- /#setup-user  -->

        <!-- Image Picker  -->
        <div id="image-picker" @click.stop="select_image" :style="div_styles">
            <img :src="photo_url" :style="img_styles">
            <input type="file" :accept="accepts" style="display:none;">
        </div>

        <!-- Edit Patient  -->
        <div id="edit-patient">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Patient Record</span>
                </div>
                <div class="panel-body">
                    <form @submit.prevent="submit(patient)" class="form-horizontal">

                        <div class="form-group">
                            <image-picker
                                class="center-block img-circle"
                                height="150"
                                width="150"
                                :value="photo"
                                @input="select_photo"></image-picker>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <p v-if="user.id" @click="edit_user()" class="form-control-static">{{ user.username }}</p>
                                <search-field v-else style="width: 100%"
                                    placeholder="Search User"
                                    enabled="true"
                                    v-model="user.username"
                                    :options="search_user"
                                    :formatter="format_user"
                                    @confirm="select_user"></search-field>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">PAC</label>
                            <div class="col-sm-10">
                                <p v-if="pac.id" @click="edit_pac()" class="form-control-static">{{ pac.full_name }}</p>
                                <search-field v-else style="width: 100%"
                                    placeholder="Search PAC"
                                    enabled="true"
                                    :options="search_pac"
                                    :formatter="format_pac"
                                    @confirm="select_pac"></search-field>
                            </div>
                        </div>

                        <!-- Full Name  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Full Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="patient.full_name">
                            </div>
                        </div>

                        <!-- Preferred Name  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Preferred Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="patient.preferred_name">
                            </div>
                        </div>

                        <!-- Date of Birth  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Date of Birth</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" v-model="patient.date_of_birth">
                            </div>
                        </div>

                        <!-- Gender  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Gender</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="patient.gender">
                            </div>
                        </div>

                        <!-- Blood Type  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Blood Type</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="patient.blood_type">
                            </div>
                        </div>

                        <!-- Faith  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Faith</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="patient.faith">
                            </div>
                        </div>

                        <!-- Instructions  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Instructions</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" v-model="patient.instructions"></textarea>
                            </div>
                        </div>

                        <!-- Conditions  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Conditions</label>
                            <div class="col-sm-10">
                                <div class="form-control" style="height: auto">
                                    <tag-input
                                        enabled="true"
                                        placeholder="Search Conditions"
                                        v-model="patient.conditions"
                                        :approve="approve_condition"
                                        :search="search_conditions"></tag-input>
                                </div>
                            </div>
                        </div>

                        <!-- Allergies  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Allergies</label>
                            <div class="col-sm-10">
                                <div class="form-control" style="height: auto">
                                    <tag-input
                                        enabled="true"
                                        placeholder="Enter Allergies"
                                        v-model="patient.allergies"
                                        :approve="approve_condition"></tag-input>
                                </div>
                            </div>
                        </div>

                        <!-- Address  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Home Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="patient.address">
                            </div>
                        </div>

                        <!-- Phone  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" v-model="patient.phone">
                            </div>
                        </div>

                        <!-- Email  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" v-model="patient.email">
                            </div>
                        </div>

                        <input type="submit" class="btn btn-default" :disabled="disabled()">
                        <a v-if="can_invite()" @click.prevent="invite(patient)" class="btn btn-default">Send Invitation</a>
                    </form>
                </div>
            </div>
            <div v-if="user.id" class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Manage Media</span>
                </div>
                <div class="panel-body">
                    <media-library
                        v-model="medialibrary"
                        :user_id="user.id"></media-library>
                </div>
            </div>
            <div v-if="user.id" class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Notification Devices</span>
                </div>
                <div class="panel-body">
                    <device-list
                        :value="devicelist"
                        :user_id="user.id"></device-list>
                </div>
            </div>
        </div>
        <!-- /#edit-patient  -->

        <!-- Edit CareGiver  -->
        <div id="edit-caregiver">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">CareGiver Record</span>
                </div>
                <div class="panel-body">
                    <form @submit.prevent="submit(caregiver)" class="form-horizontal">
                        <div class="form-group">
                            <image-picker
                                class="center-block img-circle"
                                height="150"
                                width="150"
                                :value="photo"
                                @input="select_photo"></image-picker>
                        </div>

                        <!-- Username  -->
                         <!-- <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <p v-if="user.id" @click="edit_user()" class="form-control-static">{{ user.username }}</p>
                                <search-field v-else
                                    style="width: 100%"
                                    placeholder="Search User"
                                    enabled="true"
                                    v-model="user.username"
                                    :options="search_user"
                                    :formatter="format_user"
                                    @confirm="select_user"></search-field>
                            </div>
                        </div>  -->

                        <!-- PAC  -->
                        <!-- <div class="form-group">
                            <label class="col-sm-2 control-label">PAC</label>
                            <div class="col-sm-10">
                                <p v-if="pac.id" @click="edit_pac()" class="form-control-static">{{ pac.full_name }}</p>
                                <search-field v-else
                                    style="width: 100%" 
                                    placeholder="Search PAC"
                                    enabled="true"
                                    :options="search_pac"
                                    :formatter="format_pac"
                                    @confirm="select_pac"></search-field>
                            </div>
                        </div> -->

                        <!-- Full Name  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Full Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="caregiver.full_name">
                            </div>
                        </div>

                        <!-- Address  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contact Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="caregiver.address">
                            </div>
                        </div>

                        <!-- Phone  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contact Phone</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" v-model="caregiver.phone">
                            </div>
                        </div>

                        <!-- Email  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contact Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" v-model="caregiver.email">
                            </div>
                        </div>

                        <!--
                            id: ID;
                            invites: CareGiver.Invite[];  -->
                    </form>
                </div>
            </div>

            <!-- <div v-if="user.id" class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Patients</span>
                </div>
                <div class="panel-body">
                    <form @submit.prevent="submit(patient)" class="form-horizontal">
                    </form>
                </div>
            </div> -->
        </div>
        <!-- /#edit-caregiver  -->

        <!-- Edit PAC  -->
        <div id="edit-pac">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">PAC Record</span>
                </div>
                <div class="panel-body">
                    <form @submit.prevent="submit(pac)" class="form-horizontal">
                        <!-- Profile Photo  -->
                        <div class="form-group">
                            <image-picker
                                class="center-block img-circle"
                                height="150"
                                width="150"
                                :value="photo"
                                @input="select_photo"></image-picker>
                        </div>

                        <!-- Username  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <p v-if="user.id" @click="user.id = undefined" class="form-control-static">{{ user.username }}</p>
                                <search-field v-else style="width: 100%"
                                    placeholder="Search User"
                                    enabled="true"
                                    v-model="user.username"
                                    :options="search_user"
                                    :formatter="format_user"
                                    @confirm="select_user"></search-field>
                            </div>
                        </div>

                        <!-- Full Name  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Full Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="pac.full_name">
                            </div>
                        </div>

                        <!-- Theme  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Theme</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-control-static" :style="{ backgroundColor: pac.theme.primary_color }">
                                            <image-picker
                                                class="center-block img-thumbnail"
                                                height="150"
                                                width="150"
                                                :value="icon"
                                                @input="select_icon"></image-picker>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="inline-block col-xs-3 col-md-2" v-for="color in colors" :style="color_styles(color)" @click.stop="select_color(color)">
                                            <div style="width: 100%; height: 100%" :style="{ backgroundColor: color.hexCode }">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Address  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contact Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="pac.address">
                            </div>
                        </div>

                        <!-- Phone  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contact Phone</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" v-model="pac.phone">
                            </div>
                        </div>

                        <!-- Email  -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contact Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" v-model="pac.email">
                            </div>
                        </div>

                        <input type="submit" class="btn btn-default">
                        <a v-if="can_invite()" @click.prevent="invite(pac)" class="btn btn-default">Send Invitation</a>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#edit-pac  -->

        <!-- Search Field  -->
        <div id="search-field">
            <input type="text" class="form-control"
                v-model="search"
                :readonly="!enabled"
                :placeholder="placeholder"
                @keydown.enter.prevent="confirm(selection)"
                @keydown.esc="close()"
                @keydown.up="up()"
                @keydown.down="down()"
                autocomplete="off">

            <div class="dropdown" style="position: static" :class="{ open: suggesting }">
                <ul class="dropdown-menu" style="width:100%">
                    <li @click="confirm(index)" v-for="(match, index) in matches" :class="{ active: selected(index) }">
                        <a href="javascript:void(0);"><span v-html="format(match)"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /#search-field  -->

        <!-- Tag Input  -->
        <div id="tag-input">
            <span v-for="(tag, index) in value_i" :key="index" class="badge">
                <span v-html="display_i(tag)"></span>
                <i v-if="enabled_i" @click.prevent="remove_i(index)" class="fa fa-times"></i>
            </span>

            <search-field style="display: inline-block;"
                v-if="enabled_i"
                v-model="input_i"
                :enabled="enabled_i"
                :placeholder="placeholder_i"
                :options="search_i"
                :formatter="formatter_i"
                :select="select_i"
                @keydown.delete.native="backspace_i()"
                @confirm="confirm_i"></search-field>
        </div>
        <!-- /#tag-input  -->

        <!-- Edit Media  -->
        <table>
            <tr id="edit-media">
                <td><i class="fa fa-fw fa-lg" :class="icon(media)"></i></td>
                <td><input class="btn btn-default btn-xs" type="file" value="Select File"></td>
                <td><span v-html="size(media)"></span></td>
                <td><span v-html="date(media)"></span></td>
                <td>
                    <tag-input
                        v-model="media.tags"
                        placeholder="..."
                        :enabled="true"
                        :search="tag_options"
                        :approve="approve_tag"></tag-input>
                </td>
                <td>
                    <a @click.prevent="confirm(media)" :class="confirm_classes(media)"><i class="fa fa-fw fa-lg fa-check"></i></a>
                    <a @click.prevent="remove(media)" :class="remove_classes(media)"><i class="fa fa-fw fa-lg fa-times"></i></a>
                </td>
            </tr>
        </table>
        <!-- /#edit-media  -->

        <!-- Show Media  -->
        <table>
            <tr id="show-media" :class="row_classes(file)">
                <td><i class="fa fa-fw fa-lg" :class="icon(file)"></i></td>
                <td><span v-html="name(file)"></span></td>
                <td><span v-html="size(file)"></span></td>
                <td><span v-html="date(file)"></span></td>
                <td>
                    <tag-input 
                        v-model="file.tags"
                        placeholder="..."
                        :enabled="false"></tag-input>
                </td>
                <td>
                    <a @click.prevent="edit(file)" :class="edit_classes(file)"><i class="fa fa-fw fa-lg fa-pencil"></i></a>
                    <a @click.prevent="remove(file)" :class="remove_classes(file)"><i class="fa fa-fw fa-lg fa-times"></i></a>
                </td>
            </tr>
        </table>
        <!-- /#show-media  -->

        <!-- Media Library  -->
        <div id="media-library">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">filename</th>
                            <th style="min-width: 100px;">size</th>
                            <th style="min-width: 200px;">updated</th>
                            <th style="min-width: 200px;">tags</th>
                            <th style="min-width: 100px;">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Edit Media  -->
                        <tr is="edit-media"
                            :tags="tag_options"
                            :icon="icon"
                            :size="size"
                            :date="date"
                            @confirm="upload"></tr>

                        <!-- Manage Media  -->
                        <template v-for="file in files">
                            <tr v-if="file.$editing" is="edit-media" class="active"
                                :key="file.id"
                                :value="file"
                                :tags="tag_options"
                                :icon="icon"
                                :size="size"
                                :date="date"
                                @confirm="update"
                                @remove="cancel(file)"></tr>
                            <tr v-else is="show-media"
                                :key="file.id"
                                :value="file"
                                :icon="icon"
                                :name="name"
                                :size="size"
                                :date="date"
                                @edit="edit"
                                @remove="remove"></tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /#media-library  -->

        <!-- Edit Device  -->
        <table>
            <tr id="edit-device">
                <td>
                    <select v-model="device.type" class="form-control">
                        <option value="" disabled selected>-- Type --</option>
                        <option value="sms">SMS</option>
                        <option value="email">Email</option>
                        <option value="pers">PERS</option>
                    </select>
                </td>
                <td><input v-model="device.value" class="form-control" type="text" :placeholder="placeholder"></td>
                <td><p class="form-control-static">{{ date(device) }}</p></td>
                <td>
                    <a @click.prevent="confirm(device)"><i class="fa fa-fw fa-lg fa-check"></i></a>
                    <a @click.prevent="remove(device)"><i class="fa fa-fw fa-lg fa-times"></i></a>
                </td>
            </tr>
        </table>
        <!-- /#edit-device  -->

        <!-- Show Device  -->
        <table>
            <tr id="show-device">
                <td><p class="form-control-static">{{ type(device) }}</p></td>
                <td><p class="form-control-static">{{ attr(device) }}</p></td>
                <td><p class="form-control-static">{{ date(device) }}</p></td>
                <td>
                    <a @click.prevent="edit(device)"><i class="fa fa-fw fa-lg fa-pencil"></i></a>
                    <a @click.prevent="remove(device)"><i class="fa fa-fw fa-lg fa-times"></i></a>
                </td>
            </tr>
        </table>
        <!-- /#show-device  -->

        <!-- Manage Devices  -->
        <div id="manage-devices">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">device</th>
                            <th style="min-width: 100px">created</th>
                            <th style="min-width: 100px">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Create New Device  -->
                        <tr is="edit-device"
                            :value="editing"
                            @confirm="register"></tr>

                        <!-- Manage Devices  -->
                        <template v-for="device in devices">
                            <tr v-if="device.$editing" is="edit-device" class="active"
                                :key="'edit' + device.id"
                                :value="device"
                                @confirm="register"
                                @remove="cancel(device)"></tr>
                            <tr v-else is="show-device"
                                :key="'show' + device.id"
                                :value="device"
                                @edit="edit(device)"
                                @remove="remove(device)"></tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /#manage-devices  -->

        <!-- Upload Media  -->
        <div id="manage-media">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Media Library</span>
                </div>
                <div class="panel-body">
                    <media-library
                        v-model="medialibrary"
                        :user_id="user_id"></media-library>
                </div>
            </div>
        </div>
        <!-- /#upload-media  -->

        <!-- Profile Management  -->
        <div id="manage-profile">

            <!-- User Info  -->
            <div v-if="user.id" class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">User Record</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Username</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ user.username }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Password</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">***********</p>
                            </div>
                        </div>

                        <a @click.prevent="edit_user(user)" class="btn btn-default">Edit</a>
                    </form>
                </div>
            </div>

            <!-- CareGiver Info  -->
            <div v-if="caregiver.id" class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">CareGiver Record</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Full Name</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ caregiver.full_name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Email</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ caregiver.email }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Phone</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ caregiver.phone }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Address</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ caregiver.address }}</p>
                            </div>
                        </div>
                        <div v-if="caregiver.invites.length" class="form-group">
                            <label class="control-label col-sm-2">Invitations</label>
                            <div class="col-sm-10">
                                <table class="table form-control-static">
                                    <thead>
                                        <tr>
                                            <th>name</th>
                                            <th>relationship</th>
                                            <th>date</th>
                                            <th class="text-right">actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="invite in caregiver.invites" :key="invite.id">
                                            <td>{{ invite.full_name }}</td>
                                            <td>{{ invite.relationship }}</td>
                                            <td>{{ invite.created | date }}</td>
                                            <td class="text-right">
                                                <a @click.prevent="accept_invite(invite)" class="btn btn-xs btn-success">Accept</a>
                                                <a @click.prevent="reject_invite(invite)" class="btn btn-xs btn-danger">Reject</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <a v-if="can_edit_caregiver()" @click.prevent="edit_caregiver()" class="btn btn-default">Edit</a>
                    </form>
                </div>
            </div>

            <!-- Patient Info  -->
            <div v-if="patient.id" class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Patient Record</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Full Name</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ patient.full_name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Date Of Birth</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ patient.date_of_birth | date }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Email</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ patient.email }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Phone</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ patient.phone | phone }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Address</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ patient.address }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Conditions</label>
                            <div class="col-sm-10">
                                <tag-input
                                    v-model="patient.conditions"
                                    placeholder="..."
                                    :enabled="false"></tag-input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Allergies</label>
                            <div class="col-sm-10">
                                <tag-input
                                    v-model="patient.allergies"
                                    placeholder="..."
                                    :enabled="false"></tag-input>
                            </div>
                        </div>

                        <a v-if="can_edit_patient()" @click.prevent="edit_patient()" class="btn btn-default">Edit</a>
                    </form>
                </div>
            </div>

            <!-- PAC Info  -->
            <div v-if="pac.id" class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">PAC Record</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Full Name</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ pac.full_name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Email</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ pac.email }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Phone</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ pac.phone | phone }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Address</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ pac.address }}</p>
                            </div>
                        </div>

                        <a v-if="can_edit_pac()" @click.prevent="edit_pac()" class="btn btn-default">Edit</a>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#manage-profile  -->
    </div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a route="/" class="navbar-brand">SilverCare Portal</a>
            </div>

            <!-- Top Menu Items -->
            <ul v-show="user.id" class="nav navbar-right top-nav" v-cloak>
                <li id="dropdown" class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a route="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" v-cloak>
                    <li v-if="can_manage_profile()"><a route="/profile"><i class="fa fa-fw fa-dashboard"></i> Profile</a></li>
                    <li v-if="can_create_user()"><a route="/user/new"><i class="fa fa-fw fa-dashboard"></i> Create User</a></li>
                    <li v-if="can_create_patient()"><a route="/user/new/patient"><i class="fa fa-fw fa-dashboard"></i> Create Patient</a></li>
                    <li v-if="can_create_caregiver()"><a route="/user/new/caregiver"><i class="fa fa-fw fa-dashboard"></i> Create CareGiver</a></li>
                    <li v-if="can_create_pac()"><a route="/user/new/pac"><i class="fa fa-fw fa-dashboard"></i> Create PAC</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </nav>

        <!-- Page Wrapper  -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <component :is="route">

                    <!-- Splash Screen  -->
                    <div class="col-md-4 col-md-offset-4">
                        <div class="text-center">
                            <h1 class="login-brand-text">SilverCare Portal</h1>
                        </div>
                    </div>
                    <!-- /splash screen  -->

                </component>
            </div>
        </div>
        <!-- /#page-wrapper  -->

    </div><!-- /#wrapper -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@2.4.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="vendor/ObjectId/ObjectId.js"></script>
    <script src="vendor/navigo/js/navigo.js"></script>
    <script src="vendor/mini-toastr/mini-toastr.es5.min.js"></script>
    <script src="script.js"></script>
</body>
</html>